.form {
    &__title {
        display: block;
        font-size: 48px;
        font-weight: 300;
        line-height: 50px;
        padding: @site-padding * 2 0 @site-padding 0;
        text-transform: uppercase;
    }
    &__list {
        list-style: none;
        margin: -@site-padding;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    &__item {
        float: left;
        padding: @site-padding;
        position: relative;
        width: 300px;
        z-index: 10;
    }
    &__btn {
        display: block;
    }
    &__hint {
        display: block;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        padding-top: @site-padding;
        position: relative;
        &:before {
            content: "*";
            color: @red;
            display: block;
            font-size: 16px;
            font-weight: 300;
            line-height: 16px;
            left: -@site-padding;
            position: absolute;
            top: @site-padding;
        }
    }
}