@media only screen and (min-width: 980px) and (max-width: 1199px){
    .device {
        display: block;
    }
    .desktop {
        display: none;
    }
    .header {
        padding-top: @site-padding;
    }
    .container {
        width: 100% !important;
    }
    .content {
        float: left;
        width: 50%;
    }
    .footer {
        padding-top: @site-padding;
        &__link {
            float: left;
            padding-left: @site-padding * 3;
            width: 50%;
        }
        &__copy {
            float: left;
            padding: 0 30px 0 180px;
            text-align: center;
            width: 50%;
        }
    }
    .banner {
        padding-bottom: 0;
        padding-top: 0;
        &__img {
            width: 300px;
        }
        &__title {
            font-size: 60px;
            line-height: 60px;
        }
    }
    .form {
        &__item {
            padding-bottom: 0;
        }
    }
    .man {
        &__trigger {
            left: 60px;
            top: 50px;
        }
    }
    .steps {
        &__item {
            margin-top: 0;
            &:before {
                height: @site-padding;
                top: -10px;
            }
        }
    }
}

