@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .header {
        padding-top: @site-padding;
    }
    .banner {
        padding-bottom: 0;
        padding-top: 0;
        &__img {
            width: 250px;
        }
    }
    .form {
        &__item {
            padding-bottom: 0;
            width: 320px;
        }
    }
    .steps {
        &__item {
            margin-top: 0;
            &:before {
                height: @site-padding;
                top: -10px;
            }
        }
    }
}
@media only screen and (min-width: 1500px){
    .man {
        &__trigger {
            left: -20px;
            top: 160px;
        }
    }
}



