
@media only screen and (min-width: 993px) and (max-width: 1199px){
    .container {
        width: 960px;
    }
    .header {
        padding-top: @site-padding;
    }
    .content {
        height: calc(~"100vh -" 225px);
    }
    .footer {
        padding-bottom: 0;
        &__link {
            position: relative;
            top: -@site-padding;
        }
    }
    .man {
        &__image {
            height: calc(~'100vh -' 160px);
        }
    }
    .banner {
        padding-bottom: 0;
        padding-top: 0;
        &__img {
            width: 300px;
        }
        &__title {
            font-size: 65px;
            line-height: 70px;
            top: -10px;
            position: relative;
        }
    }
    .form {
        &__title {
            font-size: 40px;
            padding-bottom: @site-padding * 2;
        }
    }
}
