@media only screen and (min-width: 960px) and (max-width: 1199px){
    .header {
        padding-top: @site-padding;
    }
    .banner {
        padding-bottom: 0;
        padding-top: 0;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .banner {
        padding-bottom: 0;
        padding-top: 0;
    }
}

